.container {
    margin: 0 0 4rem;
}

button {
    cursor: pointer;
    margin: 0 0 1rem;
}

.copyButton {
    margin-left: 0.5rem;
}

.clickable {
    cursor: pointer;

    &:hover {
        background-color: #d1eeff;
    }
}
.title {
    font-size: 1.25rem;
    margin: 0 0 0.7rem;
}

.moveList {
    padding-left: 1.25em;
    margin: 0;
}

.statTitle {
    font-size: 1rem;
    margin: 0 0 0.5rem;
}

.gamesCount, .gamesCountPercentage {
    font-weight: normal;
    margin-left: 1rem;
}

.statItem {
    margin: 0 0 1rem;
}

.statPercentages {
    display: flex;
    margin: 0 0 0.25rem;

    dd {
        margin: 0 1em 0 0.25em;
    }
}

.gameLinksList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.gameLinkItem {
    margin: 0 1em 0 0;
}