.container {
    margin-top: 1.5rem;
}
.title{
    font-size: 2.05rem;
    margin: 0 0 1rem;
}
.gameTypes {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}
.playerList {
    padding-left: 1em;
    margin: 0;
}
.gameType {
    margin: 0 2rem 2rem 0;
}
.gameTypeTitle {
    margin: 0 0 0.5rem;
}
.playerTitle {
    display: inline-block;
    min-width: 2em;
}